<!DOCTYPE html>
<html lang="en" xmlns:th="http:https://www.thymeleaf.org/">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Change Password</title>
        <link rel="stylesheet" th:href="@{/vendors/iconfonts/font-awesome/css/all.min.css}" />
        <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}" />
        <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.addons.css}" />
        <link rel="stylesheet" th:href="@{/css/style.css}" />
        <link rel="stylesheet" th:href="@{/css/custom.css}" />
    </head>
    <body>
        <div class="container-scroller">
            <div class="container-fluid page-body-wrapper full-page-wrapper">
                <div class="content-wrapper bg-login d-flex align-items-center auth">
                    <div class="row w-100">
                        <div class="col-lg-4 mx-auto">
                            <div class="alert alert-danger text-white text-center bg-danger mt-5" role="alert" th:if="${param.emailWrong}">
                                You've entered email is wrong !
                                <i class="fa fa-exclamation-circle ml-1" aria-hidden="true"></i>
                            </div>
                            <div class="auth-form-light text-left px-5 pt-4 pb-5">
                                <div class="brand-logo d-flex justify-content-center mb-3">
                                    <img th:src="@{/images/logo.png}" alt="logo" />
                                </div>
                                <h4>Change Password</h4>
                                <form class="pt-3" data-toggle="validator" th:action="@{/reset/updatePassword}" method="post">
                                    <input type="hidden" name="token" th:value="${token}" />
                                    <div class="form-group">
                                        <label for="inputPassword">New Password<strong class="text-danger">*</strong></label>
                                        <input
                                            type="password"
                                            data-minlength="6"
                                            class="form-control login-box pl-cr"
                                            id="inputPassword"
                                            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
                                            data-error="Password must be alphanumeric !"
                                            placeholder="Enter password"
                                            required
                                        />
                                        <small class="text-white">
                                            Min 6 characters required
                                        </small>
                                        <div class="help-block with-errors font-weight-bold" style="color: #b91221;"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Confirm Password<strong class="text-danger">*</strong></label>
                                        <input
                                            type="password"
                                            class="form-control login-box pl-cr"
                                            name="password"
                                            id="password"
                                            data-match="#inputPassword"
                                            data-match-error="Whoops, these don't match"
                                            data-error="Provide confirm password !"
                                            placeholder="Enter confirm password"
                                            required
                                        />
                                        <div class="help-block with-errors font-weight-bold" style="color: #b91221;"></div>
                                    </div>
                                    <div class="mt-3">
                                        <button class="btn btn-block btn-primary btn-lg font-weight-medium login-btn" type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
        <script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
        <script th:src="@{/js/off-canvas.js}"></script>
        <script th:src="@{/js/hoverable-collapse.js}"></script>
        <script th:src="@{/js/misc.js}"></script>
        <script th:src="@{/js/todolist.js}"></script>
        <script th:src="@{/js/custom.js}"></script>
        <script th:src="@{/js/validator.js}"></script>
        <script>
            $(".login-btn").on("click", function () {
                $(this).html('<div class="loader"></div> Loading...');
            });
        </script>
    </body>
</html>