<!DOCTYPE html>
<html lang="en" xmlns:th="http:https://www.thymeleaf.org/" th:replace="base::layout(~{::section})">
    <body>
        <section>
            <div class="row">
                <div class="col-10 p-0">
                    <div class="page-header">
                        <ul class="breadcrumb px-0">
                            <li><a th:href="@{/master/bundle}">Master</a></li>
                            <li><a href="#" class="text-white">&nbsp;Bundle Master</a></li>
                        </ul>
                        <nav aria-label="breadcrumb">
                            <a th:href="@{/master/bundle/list}" class="btn btn-success btn-sm btn-icon-text"> <i class="fa fa-list-alt pr-2" aria-hidden="true"></i>Bundle List</a>
                        </nav>
                    </div>
                    <div class="mt-3"></div>
                    <div class="alert alert-success text-center p-2 col-8 mx-auto" role="alert" th:if="${param.bundleAdded}">
                        Bundle has been added successfully!
                    </div>

                    <div class="row">
                        <div class="col-11 mx-auto">
                            <div class="card">
                                <div class="card-body p-0">
                                    <h5 class="p-2 mb-0 text-center">Brand Master</h5>
                                    <hr class="mb-3 mt-0" />
                                    <form class="forms-sample" data-toggle="validator" th:action="@{/master/bundle/add}" role="form" method="post">
                                        <div class="row px-2">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="brandName">Bundle Name<strong class="text-danger">*</strong></label>
                                                    <input type="text" class="form-control" id="brandName" name="brandName" data-error="Provide brand name!" placeholder="Enter brand name" required />                       
                                                    <div class="help-block with-errors text-danger"></div>
                                                </div>
                                            </div>
                                             <div class="col-4">
                                                <div class="form-group">
                                                    <label for="schoolOrDepartment">School / Department Name<strong class="text-danger">*</strong></label>
                                                   <select class="js-example-basic-single w-100">
								                      <option value="AL">Alabama</option>
								                      <option value="WY">Wyoming</option>
								                      <option value="AM">America</option>
								                      <option value="CA">Canada</option>
								                      <option value="RU">Russia</option>
								                    </select>
                                                    <div class="help-block with-errors text-danger"></div>
                                                </div>
                                            </div>
                                             <div class="col-4">
                                                <div class="form-group">
                                                    <label for="brandName">Board<strong class="text-danger">*</strong></label>
                                                    <input type="text" class="form-control" id="brandName" name="brandName" data-error="Provide brand name!" placeholder="Enter brand name" required />                       
                                                    <div class="help-block with-errors text-danger"></div>
                                                </div>
                                            </div>
                                          
                                        </div>
										<div class="row px-2">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="brandName">Standard<strong class="text-danger">*</strong></label>
                                                    <input type="text" class="form-control" id="brandName" name="brandName" data-error="Provide brand name!" placeholder="Enter brand name" required />                       
                                                    <div class="help-block with-errors text-danger"></div>
                                                </div>
                                            </div>
                                             <div class="col-4">
                                                <div class="form-group">
                                                    <label for="brandName">Language<strong class="text-danger">*</strong></label>
                                                    <input type="text" class="form-control" id="brandName" name="brandName" data-error="Provide brand name!" placeholder="Enter brand name" required />                       
                                                    <div class="help-block with-errors text-danger"></div>
                                                </div>
                                            </div>
                                             <div class="col-4">
                                                <div class="form-group">
                                                    <label for="brandName">Books<strong class="text-danger">*</strong></label>
                                                    <input type="text" class="form-control" id="brandName" name="brandName" data-error="Provide brand name!" placeholder="Enter brand name" required />                       
                                                    <div class="help-block with-errors text-danger"></div>
                                                </div>
                                            </div>
                                          
                                        </div>
                                        <div class="text-center mb-3">
                                            <button type="submit" class="btn btn-sm btn-primary mr-2"><i class="fa fa-plus menu-icon pr-2"></i>Add</button>
                                            <button type="reset" class="btn btn-sm btn-secondary mr-2"><i class="fa fa-refresh menu-icon pr-2"></i>Reset</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="container p-0 mx-0">
                         <div class="bar opened dark">
                            <div class="icon" onclick="window.location='/master/brand'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/brand' ? 'active':''}">
                                <span class="text">Brand Master</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/category'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/category' ? 'active':''}">
                                <span class="text">Category Master</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/hsn'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/hsn' ? 'active':''}">
                                <span class="text">HSN Code</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/measures'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/measures' ? 'active':''}">
                                <span class="text">Unit of Measures</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/supplier'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/supplier' ? 'active':''}">
                                <span class="text">Supplier Master</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/brand/publisher'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/brand/publisher' ? 'active':''}">
                                <span class="text">Brand Publisher</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/item'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/item' ? 'active':''}">
                                <span class="text">Item Master</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/tax'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/tax' ? 'active':''}">
                                <span class="text">Tax Master</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/school'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/school' ? 'active':''}">
                                <span class="text">School Master</span>
                            </div>

                            <div class="icon" onclick="window.location='/master/catalogue'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/catalogue' ? 'active':''}">
                                <span class="text">Catalogue Master</span>
                            </div>

                            <div class="icon" onclick="window.location='/master/bundle'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/bundle' ? 'active':''}">
                                <span class="text">Bundle Master</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/cash-counter'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/cash-counter' ? 'active':''}">
                                <span class="text">Cash Counter</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>