<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" th:replace="base::layout(~{::section})">
    <body>
        <section>
            <div class="page-header">
                <ul class="breadcrumb px-0">
                    <li><a th:href="@{/master/brand}">Master</a></li>
                    <li><a href="#" class="text-white">&nbsp;Bundle Master</a></li>
                </ul>
                <nav aria-label="breadcrumb">
                    <a th:href="@{/master/bundle/list}" class="btn btn-primary btn-sm btn-icon-text"> <i class="fa fa-list-alt pr-2" aria-hidden="true"></i>Bundle List</a>
                </nav>
            </div>

            <div class="alert alert-success text-center p-2" role="alert" th:if="${param.bundleCreated}">
                Bundle has been added successfully!
            </div>
            <div class="alert alert-danger text-center p-2" role="alert" th:if="${param.bundleNameAlreadyExists}">
                The bundle name is already taken / Provide a different name.
            </div>
            <form class="forms-sample needs-validation p-1" th:action="@{/master/bundle/add}" th:object="${bundle}" role="form" method="post" novalidate>
                <div class="row">
                    <div class="col-5">
                        <div class="card border border-dark">
                            <div class="card-body p-0" style="background-color: #a4dbdb !important;">
                                <h5 class="p-2 mb-0 text-center bg-dark text-white">Bundle Creation</h5>
                                <hr class="mb-0 mt-0" />
                                <div class="border border-secondary bg-secondary">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="itemName" class="pt-2 font-weight-bold">Select Book to Add in the List<strong class="text-danger">*</strong></label>
                                                <select class="js-example-basic-single w-100" id="itemId">
                                                    <option value="">select</option>
                                                    <option th:each="itemList : ${itemLists}" th:value="${itemList.itemId}" th:utext="${itemList.itemName}" />
                                                </select>
                                                <div class="invalid-feedback">Select Items/books!</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="form-group mb-2">
                                                <label for="itemCost">Cost Price<strong class="text-danger">*</strong></label>
                                                <div class="input-group">
                                                    <input
                                                        type="text"
                                                        class="form-control font-weight-bold px-0 text-center"
                                                        id="itemCost"
                                                        style="border: none; color: #ffff; background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%); outline: 0;"
                                                        disabled
                                                    />
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0"><i class="fa fa-inr" aria-hidden="true"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group mb-2">
                                                <label for="itemMrp">MRP Price<strong class="text-danger">*</strong></label>
                                                <div class="input-group">
                                                    <input
                                                        type="text"
                                                        class="form-control font-weight-bold px-0 text-center"
                                                        id="itemMrp"
                                                        style="border: none; color: #ffff; background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%); outline: 0;"
                                                        disabled
                                                    />
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text py-0"><i class="fa fa-inr" aria-hidden="true"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 text-center" style="padding-top: 20px;">
                                            <a class="btn btn-sm btn-success mr-2 add-row"><i class="fa fa-plus menu-icon pr-2"></i>Add</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="bundleName">Bundle Name<strong class="text-danger">*</strong></label>
                                            <input type="text" class="form-control" id="bundleName" name="bundleName" placeholder="Name" required />
                                            <div class="invalid-feedback">Name required!</div>
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="form-group">
                                            <label for="school">Select School<strong class="text-danger">*</strong></label>
                                            <select class="js-example-basic-single w-100" id="school" name="schoolId" required>
                                                <option value="">select</option>
                                                <option th:each="schoolList : ${schoolLists}" th:value="${schoolList.schoolId}" th:utext="${schoolList.schoolName}" />
                                            </select>
                                            <div class="invalid-feedback">Select a school!</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="medium">Language/Medium<strong class="text-danger">*</strong></label>
                                            <select class="form-control" id="medium" name="medium" required>
                                                <option value="">select</option>
                                                <option value="English">English</option>
                                                <option value="Kannada">Kannada</option>
                                                <option value="Hindi">Hindi</option>
                                                <option value="Tamil">Tamil</option>
                                                <option value="Telugu">Telugu</option>
                                                <option value="Malayalam">Malayalam</option>
                                            </select>
                                            <div class="invalid-feedback">Select a medium!</div>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="standard">Standard<strong class="text-danger">*</strong></label>
                                            <select class="form-control" id="standard" name="standard" required>
                                                <option value="">select</option>
                                                <option value="LKG">LKG</option>
                                                <option value="UKG">UKG</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="PUC1">PUC 1ST YR</option>
                                                <option value="PUC2">PUC 2ND YR</option>
                                            </select>
                                            <div class="invalid-feedback">Select Standard!</div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="subTotal" id="sub-total" />
                                <input type="hidden" name="gstAmt" id="gst-amt" />
                                <input type="hidden" name="grandTotal" id="grand-total" />
                                <div class="text-center mb-2">
                                    <button type="submit" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#bundledItems">Submit</button>
                                    <a th:href="@{/master/bundle/clear}" class="btn btn-sm btn-secondary">Reset</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-7">
                        <table class="shopping-cart is-fullwidth basket-tbl table table-striped table-bordered table-hover orderTable actionBtn">
                            <thead class="bg-dark text-white">
                                <tr>
                                    <th>Sl</th>
                                    <th style="width: 40%;">Book Name</th>
                                    <th style="width: 15%;">Price</th>
                                    <th style="width: 14%;">Qty</th>
                                    <th style="width: 15%;">Cost</th>
                                    <th><a href="javascript:void(0);" id="clear-all" class="text-danger" style="text-decoration: none;" />Clear</th>
                                </tr>
                            </thead>
                            <tbody class="add-item">
                                <tr th:each="bundledItem: ${bundledItems}">
                                    <td style="display: none;" class="item-id" th:text="${bundledItem.itemId}"></td>
                                    <td class="sl_no text-center"><label class="mb-0" th:text="${bundledItem.slNo}"></label></td>
                                    <td class="product"><label class="mb-0 item_name" th:text="${bundledItem.itemName}"></label></td>
                                    <td>
                                        <div class="row">
                                            <i class="fa fa-inr pr-1" aria-hidden="true" style="font-size: 13px; padding-top: 4px;"> </i>
                                            <input type="text" id="price" class="price" th:value="${bundledItem.itemMrp}" style="color: black; background: transparent;" disabled />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="outer-button">
                                                <div class="dec button">
                                                    <i class="fa fa-minus bg-danger" style="font-size: 0.6em; color: #fff; padding: 5px;"></i>
                                                </div>
                                            </div>
                                            <input type="number" id="qty" th:value="${bundledItem.quantity}" class="qty text-center" style="border: none; color: black; background: transparent; outline: 0; width: 45%;" disabled />
                                            <div class="outer-button">
                                                <div class="inc button"><i class="fa fa-plus bg-success" style="font-size: 0.6em; color: #fff; padding: 5px;"></i></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <i class="fa fa-inr pr-1" aria-hidden="true" style="font-size: 13px; padding-top: 4px;"></i>
                                            <input type="text" class="cost" style="color: black; background: transparent;" disabled />
                                        </div>
                                    </td>
                                    <td class="text-center"><i class="glyphicon glyphicon-trash remove-item text-danger"></i></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="alert alert-info text-center my-2 py-1 no-records" role="alert" th:if="${emptyList != null}">Select Books/Items to bundle it !</div>
                        <div class="my-2" th:if="${emptyList == null}">
                            <div class="row">
                                <div class="col-6"></div>
                                <div class="col-3 bg-secondary">
                                    <label class="font-weight-bold pt-2">Subtotal</label>
                                </div>
                                <div class="col-3 bg-secondary row pt-2">
                                    <i class="fa fa-inr pr-2 pt-1" aria-hidden="true"></i>
                                    <label class="subtotal font-weight-bold"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6"></div>
                                <div class="col-3 bg-secondary row">
                                    <label class="font-weight-bold">GST @ 18%</label>
                                </div>
                                <div class="col-3 bg-secondary">
                                    <i class="fa fa-inr pr-1" aria-hidden="true"></i>
                                    <label class="gstamt font-weight-bold"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6"></div>
                                <div class="col-3 bg-primary row">
                                    <label class="font-weight-bold text-white pt-1">Grand Total</label>
                                </div>
                                <div class="col-3 bg-primary text-white pt-1">
                                    <i class="fa fa-inr pr-1" aria-hidden="true"></i>
                                    <label class="grandtotal font-weight-bold"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </body>
</html>