<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" th:replace="base::layout(~{::section})">
    <body>
        <section>
            <div class="page-header">
                <ul class="breadcrumb px-0">
                    <li><a th:href="@{/master/hsn}">Master</a></li>
                    <li><a th:href="@{/master/hsn}">&nbsp;HSN Master</a></li>
                    <li><a href="#" class="text-white">&nbsp;HSN List</a></li>
                </ul>
            </div>
            <div class="px-2">
                <button type="button" class="btn btn-dark btn-rounded btn-icon" onclick="window.location.href='/master/hsn'" style="width: 30px; height: 30px;">
                    <i class="fa fa-arrow-left"></i>
                </button>
            </div>
            <div class="mt-5"></div>
            <div class="alert alert-danger text-center p-2 col-11 mx-auto font-weight-bold" role="alert" th:if="${param.hsnDeleted}">
                HSN Code has been deleted !
            </div>
            <div class="alert alert-success text-center p-2 col-11 mx-auto font-weight-bold" role="alert" th:if="${param.hsnUpdated}">
                HSN Code has been updated successfully!
            </div>

            <div class="alert alert-danger text-center p-2 col-11 mx-auto font-weight-bold" role="alert" th:if="${param.hsnAlreadyExists}">
                HSN Code already Exists!
            </div>

            <div class="col-lg-11 grid-margin stretch-card mx-auto">
                <div class="card">
                    <div class="card-body p-1">
                        <h4 class="card-title text-center mb-0 text-black py-2 font-weight-bold bg-info">HSN Code List</h4>
                        <div class="table-responsive">
                            <table class="table table-striped table-dark">
                                <thead class="bg-warning">
                                    <tr>
                                        <th class="text-center">
                                            ID
                                        </th>
                                        <th class="text-center">
                                            HSN Code
                                        </th>
                                        <th class="text-center">
                                            Category Name
                                        </th>
                                        <th class="text-center">
                                            Date Created
                                        </th>
                                        <th class="text-center">
                                            Last Updated
                                        </th>
                                        <th class="text-center">
                                            Actions
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="hsnList: ${hsnLists}">
                                        <td class="text-center" th:text="${hsnList.hsnId}"></td>
                                        <td class="text-center" th:text="${hsnList.hsnCode}"></td>
                                        <td class="text-center" th:text="${hsnList.categoryName}"></td>
                                        <td class="text-center" th:text="${#dates.format(hsnList.dateCreated, 'dd/MM/yyyy hh:mm a')}"></td>
                                        <td class="text-center" th:text="${#dates.format(hsnList.lastUpdated, 'dd/MM/yyyy hh:mm a')}"></td>
                                        <td class="text-center">
                                            <a th:href="@{/get/hsn/(id=${hsnList.hsnId})}" class="btn btn-info p-1 mx-2 edit-hsn" data-toggle="modal" data-target="#editHsn">Edit</a>
                                            <a th:href="@{/master/hsn/delete(hsnId=${hsnList.hsnId})}" class="btn btn-danger p-1" id="deleteButton" data-toggle="modal" data-target="#deleteModal">Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="alert alert-warning text-center my-2 py-1" role="alert" th:if="${emptyList != null}">[[${emptyList}]]</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="editHsn" tabindex="-1" role="dialog" aria-labelledby="editHsn" aria-hidden="true">
                <div class="modal-dialog" role="document" style="max-width: 40%; margin-top: 170px;">
                    <div class="modal-content">
                        <form data-toggle="validator" th:action="@{/master/hsn/update}" role="form" method="post">
                            <div class="modal-header pt-2 pb-1">
                                <h5 class="modal-title" id="editModal">Edit HSN Code</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body py-0">
                                <div class="row justify-content-center">
                                    <div class="col-5 mt-4">
                                        <div class="form-group">
                                            <label for="categoryName">Category Name<strong class="text-danger">*</strong></label>
                                            <input type="hidden" id="hsnIdCopy" name="hsnId" />
                                            <select class="form-control" name="categoryName" id="categoryNameCopy" data-error="Select Category Name !" required disabled>
                                                <option value="" selected>select</option>
                                                <option th:each="category : ${categories}" th:value="${category.categoryName}" th:utext="${category.categoryName}" />
                                            </select>
                                            <div class="help-block with-errors text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="col-5 mt-4">
                                        <div class="form-group">
                                            <label for="hsnCode">HSN Code<strong class="text-danger">*</strong></label>
                                            <input
                                                type="number"
                                                class="form-control"
                                                id="hsnCodeCopy"
                                                name="hsnCode"
                                                data-error="Provide HSN Code!"
                                                maxlength="11"
                                                oninput="this.value=this.value.slice(0,this.maxLength)"
                                                placeholder="Enter HSN Code"
                                                required
                                            />
                                            <div class="help-block with-errors text-danger"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-center py-2">
                                <button type="submit" class="btn btn-sm btn-success">Update</button>
                                <button type="button" class="btn btn-sm btn-light" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
                <div class="modal-dialog" role="document" style="margin-top: 180px;">
                    <div class="modal-content">
                        <div class="modal-header p-2">
                            <h5 class="modal-title" id="exampleModalLabel-2">Delete HSN Code</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure, you want to delete this HSN Code?
                        </div>
                        <div class="modal-footer p-2">
                            <a href="" class="btn btn-sm btn-danger" id="delRef">Yes, Delete</a>
                            <button type="button" class="btn btn-sm btn-light" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>