<!DOCTYPE html>
<html lang="en" xmlns:th="http:https://www.thymeleaf.org/" th:replace="base::layout(~{::section})">
    <body>
        <section>
            <div class="page-header">
                <ul class="breadcrumb px-0">
                    <li><a th:href="@{/master/item}">Master</a></li>
                    <li><a th:href="@{/master/item}">&nbsp;Item Master</a></li>
                    <li><a th:href="@{/master/item/list}">&nbsp;Item List</a></li>
                </ul>
            </div>
            <div class="px-2">
                <div class="row">
                    <div class="col-1">
                        <button type="button" class="btn btn-dark btn-rounded btn-icon" onclick="window.location.href='/master/item'" style="width: 30px; height: 30px;">
                            <i class="fa fa-arrow-left"></i>
                        </button>
                    </div>
                    <div class="col-4"></div>
                    <div class="col-4">
                        <h4 class="pl-5">All Items</h4>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
            <div class="mt-4"></div>
            <div class="alert alert-danger text-center p-2 mx-auto font-weight-bold" role="alert" th:if="${param.itemDeleted}">
                Item has been deleted !
            </div>
            <div class="alert alert-success text-center p-2 mx-auto font-weight-bold" role="alert" th:if="${param.itemUpdated}">
                Item Details has been updated successfully!
            </div>

            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table id="order-listing" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                ID
                                            </th>
                                            <th class="text-center">
                                                Item Name
                                            </th>
                                            <th>
                                                Item Image
                                            </th>
                                            <th class="text-center">
                                                Category
                                            </th>

                                            <th class="text-center">
                                                Status
                                            </th>
                                            <th class="text-center">
                                                Date Added
                                            </th>
                                            <th class="text-center">
                                                Actions
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="itemList: ${itemLists}">
                                            <td th:text="${itemList.itemId}"></td>
                                            <td th:text="${itemList.itemName}"></td>
                                            <td class="py-1 text-center">
                                                <img th:src="@{'/Company/'+ ${companyNameData} +'/Items/'+ ${itemList.itemImage}}" style="width: 70px; height: 70px; border: 1px solid rgb(0, 128, 192);" alt="image" />
                                            </td>
                                            <td class="text-center" th:text="${itemList.categoryName}"></td>

                                            <td class="text-center" th:text="${itemList.itemStatus}"></td>
                                            <td class="text-center" th:text="${#dates.format(itemList.dateCreated, 'dd/MM/yyyy hh:mm a')}"></td>
                                            <td class="text-center">
                                                <a th:href="@{/get/item/(id=${itemList.itemId})}" class="btn btn-success p-1 view-item" data-toggle="modal" data-target="#viewItem">View</a>
                                                <a th:href="@{/get/item/(id=${itemList.itemId})}" class="btn btn-info p-1 mx-2 edit-item" data-toggle="modal" data-target="#editItem">Edit</a>
                                                <a th:href="@{/master/item/delete(itemId=${itemList.itemId})}" class="btn btn-danger p-1" id="deleteButton" data-toggle="modal" data-target="#deleteModal">Delete</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="viewItem" tabindex="-1" role="dialog" aria-labelledby="viewItem" aria-hidden="true">
                <div class="modal-dialog" role="document" style="max-width: 60%; margin-top: 140px;">
                    <div class="modal-content">
                        <div class="modal-header p-2">
                            <h5 class="modal-title" id="exampleModalLabel-2">Item Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body p-3">
                            <form class="is-readonly">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group row mb-1">
                                                    <label class="col-sm-4 pr-0 text-warning col-form-label font-weight-bold">Item Name</label>
                                                    <div class="col-sm-8 pl-0">
                                                        <input type="text" class="form-control is-disabled" id="iItemNameCopy" disabled />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group row mb-1">
                                                    <label class="col-sm-4 pr-0 text-warning col-form-label font-weight-bold">Category</label>
                                                    <div class="col-sm-8 pl-0">
                                                        <input type="text" class="form-control is-disabled" id="iCategoryCopy" disabled />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group row mb-1">
                                                    <label class="col-sm-4 pr-0 text-warning col-form-label font-weight-bold">Brand</label>
                                                    <div class="col-sm-8 pl-0">
                                                        <input type="text" class="form-control is-disabled" id="iBrandCopy" disabled />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group row mb-1">
                                                    <label class="col-sm-4 pr-0 text-warning col-form-label font-weight-bold">Supplier</label>
                                                    <div class="col-sm-8 pl-0">
                                                        <input type="text" class="form-control is-disabled" id="iSupplierCopy" disabled />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group row mb-1">
                                                    <label class="col-sm-4 pr-0 text-warning col-form-label font-weight-bold">Unit</label>
                                                    <div class="col-sm-8 pl-0">
                                                        <input type="text" class="form-control is-disabled" id="iUnitOfMeasureCopy" disabled />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group row mb-1">
                                                    <label class="col-sm-4 pr-0 text-warning col-form-label font-weight-bold">HSN Code</label>
                                                    <div class="col-sm-8 pl-0">
                                                        <input type="text" class="form-control is-disabled" id="iHsnCodeCopy" disabled />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group row mb-1">
                                                    <label class="col-sm-4 pr-0 text-warning col-form-label font-weight-bold">Publisher</label>
                                                    <div class="col-sm-8 pl-0">
                                                        <input type="text" class="form-control is-disabled" id="iPublisherCopy" disabled />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group row mb-1">
                                                    <label class="col-sm-4 pr-0 text-warning col-form-label font-weight-bold">Status</label>
                                                    <div class="col-sm-8 pl-0">
                                                        <input type="text" class="form-control is-disabled" id="iStatusCopy" disabled />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group row mb-1">
                                                    <label class="col-sm-4 pr-0 text-warning col-form-label font-weight-bold">Units</label>
                                                    <div class="col-sm-8 pl-0">
                                                        <input type="text" class="form-control is-disabled" id="iUnitsCopy" disabled />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group row mb-1">
                                                    <label class="col-sm-4 pr-0 text-warning col-form-label font-weight-bold">Remarks</label>
                                                    <div class="col-sm-8 pl-0">
                                                        <input type="text" class="form-control is-disabled" id="iRemarksCopy" disabled />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 px-1">
                                        <div class="form-group">
                                            <label class="text-warning font-weight-bold pl-5">Item Image</label><br />
                                            <img id="itemImg" alt="image" style="width: 170px; height: 180px; border: 2px solid rgb(0, 128, 192);" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="editItem" tabindex="-1" role="dialog" aria-labelledby="editItem" aria-hidden="true">
                <div class="modal-dialog" role="document" style="max-width: 60%; margin-top: 80px;">
                    <div class="modal-content">
                        <form data-toggle="validator" th:action="@{/master/item/update}" th:object="${item}" role="form" method="post" enctype="multipart/form-data">
                            <div class="modal-header pt-2 pb-1">
                                <h5 class="modal-title" id="editModal">Edit Item</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body py-0">
                                <div class="row mt-4 mb-2">
                                    <div class="col-9">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group mb-2">
                                                    <label for="eItemNameCopy" class="font-weight-bold">Item Name<strong class="text-danger">*</strong></label>
                                                    <input type="hidden" id="eItemIdCopy" name="itemId" />
                                                    <input type="text" class="form-control" id="eItemNameCopy" name="itemName" data-minlength="3" data-error="Minimum 3 characters required !" placeholder="Enter supplier name" required />
                                                    <div class="help-block with-errors text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group mb-2">
                                                    <label for="eCategoryCopy" class="font-weight-bold">Category<strong class="text-danger">*</strong></label>
                                                    <select class="form-control" id="eCategoryCopy" name="categoryName" data-error="Select a Category !" required>
                                                        <option value="" selected>select</option>
                                                        <option th:each="category : ${categories}" th:value="${category.categoryName}" th:utext="${category.categoryName}" />
                                                    </select>
                                                    <div class="help-block with-errors text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="col-6 mt-3">
                                                <div class="form-group mb-2">
                                                    <label for="eBrandCopy" class="font-weight-bold">Brand</label>
                                                    <select class="form-control" id="eBrandCopy" name="brandName" data-error="Select a brand !">
                                                        <option value="" selected>select</option>
                                                        <option th:each="brand : ${brands}" th:value="${brand.brandName}" th:utext="${brand.brandName}" />
                                                    </select>
                                                    <div class="help-block with-errors text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="col-6 mt-3">
                                                <div class="form-group mb-2">
                                                    <label for="eSupplierCopy" class="font-weight-bold">Supplier<strong class="text-danger">*</strong></label>
                                                    <select class="form-control" id="eSupplierCopy" name="supplierName" data-error="Select a Supplier !" required>
                                                        <option value="" selected>select</option>
                                                        <option th:each="supplier : ${suppliers}" th:value="${supplier.supplierName}" th:utext="${supplier.supplierName}" />
                                                    </select>
                                                    <div class="help-block with-errors text-danger"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3 mt-3">
                                                <div class="form-group mb-2">
                                                    <label for="eUnitsCopy" class="font-weight-bold">Units (optional)<strong class="text-danger">*</strong></label>
                                                    <input type="number" class="form-control" id="eUnitsCopy" name="units" placeholder="Enter Units" />
                                                    <div class="help-block with-errors text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="col-3 mt-3">
                                                <div class="form-group mb-2">
                                                    <label for="eUnitOfMeasureCopy" class="font-weight-bold">Unit of Measure<strong class="text-danger">*</strong></label>
                                                    <select class="form-control" id="eUnitOfMeasureCopy" name="unitOfMeasure" data-error="Select Unit of measure !" required>
                                                        <option value="" selected>select</option>
                                                        <option th:each="unit : ${units}" th:value="${unit.unitOfMeasure}" th:utext="${unit.unitOfMeasure}" />
                                                    </select>
                                                    <div class="help-block with-errors text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="col-6 mt-3">
                                                <div class="form-group mb-2">
                                                    <label for="ePublisherCopy" class="font-weight-bold">Publisher<strong class="text-danger">*</strong></label>
                                                    <select class="form-control" id="ePublisherCopy" name="publisherName" data-error="Select Publisher !" required>
                                                        <option value="" selected>select</option>
                                                        <option th:each="publisher : ${publishers}" th:value="${publisher.publisherName}" th:utext="${publisher.publisherName}" />
                                                    </select>
                                                    <div class="help-block with-errors text-danger"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 mt-3">
                                                <div class="form-group mb-2">
                                                    <label for="eStatusCopy" class="font-weight-bold">Item Status<strong class="text-danger">*</strong></label>
                                                    <select class="form-control" id="eStatusCopy" name="itemStatus" data-error="Select a item status !" required>
                                                        <option value="" selected>select</option>
                                                        <option value="Available">Available</option>
                                                        <option value="Not Available">Not Available</option>
                                                    </select>
                                                    <div class="help-block with-errors text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="col-6 mt-3">
                                                <div class="form-group mb-2">
                                                    <label for="eRemarksCopy" class="font-weight-bold">Remarks<strong class="text-danger">*</strong></label>
                                                    <input type="text" class="form-control" id="eRemarksCopy" name="remarks" data-minlength="3" placeholder="Enter Remarks" />
                                                    <div class="help-block with-errors text-danger"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group text-center">
                                            <label for="itemPic" class="font-weight-bold">Item Image</label>
                                            <input type="file" name="itemPic" id="itemPic" accept="image/*" data-height="150" data-max-file-size="2M" class="dropify" />
                                            <small class="text-info">[File: 2MB MAX]</small>
                                            <div class="help-block with-errors text-danger"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-center py-2">
                                <button type="submit" class="btn btn-sm btn-success">Update</button>
                                <button type="button" class="btn btn-sm btn-light" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
                <div class="modal-dialog" role="document" style="margin-top: 180px;">
                    <div class="modal-content">
                        <div class="modal-header p-2">
                            <h5 class="modal-title" id="exampleModalLabel-2">Delete Item</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure, you want to delete this Item?
                        </div>
                        <div class="modal-footer p-2">
                            <a href="" class="btn btn-sm btn-danger" id="delRef">Yes, Delete</a>
                            <button type="button" class="btn btn-sm btn-light" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>