<!DOCTYPE html>
<html lang="en" xmlns:th="http:https://www.thymeleaf.org/" th:replace="base::layout(~{::section})">
    <body>
        <section>
            <div class="row">
                <div class="col-10">
                    <div class="page-header">
                        <ul class="breadcrumb px-0">
                            <li><a th:href="@{/master/item}">Master</a></li>
                            <li><a href="#" class="text-white">&nbsp;Item Master</a></li>
                        </ul>
                        <nav aria-label="breadcrumb">
                            <a th:href="@{/master/item/list}" class="btn btn-success btn-sm btn-icon-text"> <i class="fa fa-list-alt pr-2" aria-hidden="true"></i>Items List</a>
                        </nav>
                    </div>
                    <div class="mt-4"></div>
                    <div class="alert alert-success text-center p-2 col-9 mx-auto font-weight-bold" role="alert" th:if="${param.itemAdded}">
                        Item has been added successfully!
                    </div>

                    <div class="col-10 grid-margin stretch-card mx-auto">
                        <div class="card">
                            <div class="card-body pt-2">
                                <h5 class="text-center mb-2">Item Master</h5>

                                <hr class="my-2 bg-secondary" />
                                <form class="forms-sample" data-toggle="validator" th:action="@{/master/item/add}" th:object="${item}" role="form" method="post" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-8 px-4">
                                            <div class="row mt-2">
                                                <div class="col-8">
                                                    <div class="form-group mb-2">
                                                        <label for="itemName">Item Name<strong class="text-danger">*</strong></label>
                                                        <input type="text" class="form-control" id="itemName" th:field="*{itemName}" data-minlength="3" data-error="Minimum 3 characters required !" placeholder="Enter item name" required />

                                                        <div class="help-block with-errors text-danger"></div>
                                                        <small class="text-info">Example: Pencil</small>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="costPrice">Cost Price<strong class="text-danger">*</strong></label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text py-0"><i class="fa fa-inr" aria-hidden="true"></i></span>
                                                            </div>

                                                            <input type="number" class="form-control" id="costPrice" th:field="*{costPrice}" data-error="Cost price is required !" required />
                                                        </div>
                                                        <div class="help-block with-errors text-danger"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="sellingPrice">Selling Price<strong class="text-danger">*</strong></label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text py-0"><i class="fa fa-inr" aria-hidden="true"></i></span>
                                                            </div>

                                                            <input type="number" class="form-control" id="sellingPrice" th:field="*{sellingPrice}" data-error="Selling price is required" required />
                                                        </div>
                                                        <div class="help-block with-errors text-danger"></div>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="mrpPrice">MRP Price<strong class="text-danger">*</strong></label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text py-0"><i class="fa fa-inr" aria-hidden="true"></i></span>
                                                            </div>

                                                            <input type="number" class="form-control" id="mrpPrice" th:field="*{mrpPrice}" data-error="MRP price is required" required />
                                                        </div>
                                                        <div class="help-block with-errors text-danger"></div>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="unitOfMeasure">Unit Of Measure<strong class="text-danger">*</strong></label>
                                                        <select class="form-control" id="unitOfMeasure" th:field="*{unitOfMeasure}" data-error="Select Unit of measure" required>
                                                            <option value="" selected>select</option>
                                                            <option th:each="unit : ${units}" th:value="${unit.unitOfMeasure}" th:utext="${unit.unitOfMeasure}" />
                                                        </select>
                                                        <div class="help-block with-errors text-danger"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="categoryId">Category<strong class="text-danger">*</strong></label>
                                                        <select class="form-control" id="categoryId" th:field="*{categoryId}" data-error="Select a Category !" required>
                                                            <option value="" selected>select</option>
                                                            <option th:each="category : ${categories}" th:value="${category.categoryId}" th:utext="${category.categoryName}" />
                                                        </select>
                                                        <div class="help-block with-errors text-danger"></div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="brandId">Brand</label>
                                                        <select class="form-control" id="brandId" th:field="*{brandId}" data-error="Select a Brand !">
                                                            <option value="" selected>select</option>
                                                            <option th:each="brand : ${brands}" th:value="${brand.brandId}" th:utext="${brand.brandName}" />
                                                        </select>
                                                        <div class="help-block with-errors text-danger"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="supplierId">Supplier</label>
                                                        <select class="form-control" id="supplierId" th:field="*{supplierId}" data-error="Select a Supplier !">
                                                            <option value="" selected>select</option>
                                                            <option th:each="supplier : ${suppliers}" th:value="${supplier.supplierId}" th:utext="${supplier.supplierName}" />
                                                        </select>
                                                        <div class="help-block with-errors text-danger"></div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="publisherId">Publisher</label>
                                                        <select class="form-control" id="publisherId" th:field="*{publisherId}" data-error="Select Publisher !">
                                                            <option value="" selected>select</option>
                                                            <option th:each="publisher : ${publishers}" th:value="${publisher.publisherId}" th:utext="${publisher.publisherName}" />
                                                        </select>
                                                        <div class="help-block with-errors text-danger"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="itemStatus">Item Status<strong class="text-danger">*</strong></label>
                                                        <select class="form-control" id="itemStatus" th:field="*{itemStatus}" data-error="Select a item status !" required>
                                                            <option value="" selected>select</option>
                                                            <option value="Available">Available</option>
                                                            <option value="Not Available">Not Available</option>
                                                        </select>
                                                        <div class="help-block with-errors text-danger"></div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="description">Description</label>
                                                        <textarea type="text" class="form-control" id="description" th:field="*{description}" data-minlength="3" placeholder="Enter description" />
                                                        <div class="help-block with-errors text-danger"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 border-left mt-3">
                                            <div class="form-group">
                                                <label for="itemImage" class="font-weight-bold">Item Image<strong class="text-danger">*</strong></label>
                                                <input type="file" name="itemImage" id="itemImage" accept="image/*" data-height="200" data-max-file-size="2M" class="dropify" data-error="Item Image required !" required />
                                                <small class="text-info">[File: 2MB MAX]</small>
                                                <div class="help-block with-errors text-danger"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-sm btn-primary mr-2"><i class="fa fa-plus menu-icon pr-2"></i>Add</button>
                                        <button type="reset" class="btn btn-sm btn-secondary mr-2"><i class="fa fa-refresh menu-icon pr-2"></i>Reset</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2 side-menu-size">
                    <div class="container p-0 mx-0">
                        <div class="bar opened dark">
                            <div class="icon" onclick="window.location='/master/brand'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/brand' ? 'active':''}">
                                <span class="text">Brand Master</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/category'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/category' ? 'active':''}">
                                <span class="text">Category Master</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/hsn'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/hsn' ? 'active':''}">
                                <span class="text">HSN Code</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/measures'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/measures' ? 'active':''}">
                                <span class="text">Unit of Measures</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/supplier'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/supplier' ? 'active':''}">
                                <span class="text">Supplier Master</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/brand/publisher'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/brand/publisher' ? 'active':''}">
                                <span class="text">Brand Publisher</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/item'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/item' ? 'active':''}">
                                <span class="text">Item Master</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/tax'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/tax' ? 'active':''}">
                                <span class="text">Tax Master</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/school'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/school' ? 'active':''}">
                                <span class="text">School Master</span>
                            </div>

                            <div class="icon" onclick="window.location='/master/catalogue'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/catalogue' ? 'active':''}">
                                <span class="text">Catalogue Master</span>
                            </div>

                            <div class="icon" onclick="window.location='/master/bundle'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/bundle' ? 'active':''}">
                                <span class="text">Bundle Master</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/cash-counter'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/cash-counter' ? 'active':''}">
                                <span class="text">Cash Counter</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>