<!DOCTYPE html>
<html lang="en" xmlns:th="http:https://www.thymeleaf.org/" th:replace="base::layout(~{::section})">
   <body>
      <section>
         <div class="page-header">
            <h3 class="page-title">
             Brand Publishers
            </h3>
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Brand Publishers</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Masters</li>
               </ol>
            </nav>
         </div>
         <div class="row d-flex justify-content-center pt-1">
         <div class="col-10 grid-margin stretch-card mx-auto pt-5 ">
            <div class="card">
               <div class="card-body">
                  <h4 class="card-title text-center">Brand Publishers</h4>
                  <hr class="pb-3">
                  
                 
                  <form class="forms-sample" th:action="@{/master/createBrandPublisherMaster}" method="post" data-toggle="validator">
                     <div class="row">
                        <div class="col-3 pt-4">
                           <div class="form-group">
                              <label for="exampleInputCity1">Brand </label><span class="text-danger">*</span>
                              <input type="text" class="form-control " name= "brand" id="exampleInputCity1" placeholder="Enter Brand" data-minlength="2" data-error="Min 2 digits required !" required> 
                              <div class="help-block with-errors text-danger"></div>
                           </div>
                        </div>
                        <div class="col-3 pt-4">
                           <div class="form-group">
                              <label for="exampleInputCity1">Supplier</label>
                              <input type="text" class="form-control" name= "supplier" id="exampleInputCity1" placeholder="Enter Supplier Name" data-minlength="2" data-error="Min 2 digits required !" required> 
                               <div class="help-block with-errors text-danger"></div>
                           </div>
                        </div>
                        
                          <div class="col-3 pt-4">
                           <div class="form-group">
                              <label for="exampleSelectGender">Under Catalog of</label>
                            <input type="text" class="form-control" name= "categoryOf" id="exampleInputCity1" placeholder="Enter Category Of" data-minlength="2"  data-error="Min 2 digits required !" required>
                            <div class="help-block with-errors text-danger"></div>
                           </div>
                        </div>
                        
                        <div class="col-3">
                              <div class="form-group text-center">
                                                <label for="uploadImage" class="font-weight-bold">Upload Image<strong class="text-danger ">*</strong></label>
                                                <input type="file" name="brandLogo" id="uploadImage" accept="image/*" data-height="120" data-max-file-size="300K" 
                                                    class="dropify" data-error="Logo required !">
                                                <small class="text-info">[File: 300KB 250x150]</small>
                                                <div class="help-block with-errors text-danger"></div>
                                             </div>
                        </div>
                     </div>
             
                     <div class="text-center">
                        <button type="submit"  th:href="@{/master/createBrandPublisherMaster}" class="btn btn-primary mr-2">Submit</button>
                        <a type="button"  th:href="@{/master/showBrandPublisherData}"  class="btn btn-success">View</a>
                        <button type="reset" class="btn btn-sm-2 btn-secondary">Reset</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
   </div>
      
      </section>
   </body>
</html>

