<!DOCTYPE html>
<html lang="en" xmlns:th="http:https://www.thymeleaf.org/" th:replace="base::layout(~{::section})">
    <body>
        <section>
            <div class="row">
                <div class="col-10">
                    <div class="page-header">
                        <ul class="breadcrumb px-0">
                            <li><a th:href="@{/master/school}">Master</a></li>
                            <li><a href="#" class="text-white">&nbsp;School Master</a></li>
                        </ul>
                        <nav aria-label="breadcrumb">
                            <a th:href="@{/master/school/list}" class="btn btn-success btn-sm btn-icon-text"> <i class="fa fa-list-alt pr-2" aria-hidden="true"></i>School List</a>
                        </nav>
                    </div>
                    <div class="mt-4"></div>
                    <div class="alert alert-success text-center p-2 col-10 mx-auto font-weight-bold" role="alert" th:if="${param.schoolAdded}">
                        School has been added successfully!
                    </div>
                    <div class="alert alert-danger text-center p-2 col-10 mx-auto font-weight-bold" role="alert" th:if="${param.schoolNameAlreadyExists}">
                        School Name Already Exists!
                    </div>
                    <div class="alert alert-danger text-center p-2 col-10 mx-auto font-weight-bold" role="alert" th:if="${param.schoolEmailAlreadyExists}">
                        School Email Already Exists!
                    </div>
                    <div class="col-10 grid-margin stretch-card mx-auto">
                        <div class="card">
                            <div class="card-body pt-2">
                                <h5 class="text-center mb-2">School Master</h5>

                                <hr class="my-2 bg-secondary" />
                                <form class="forms-sample" data-toggle="validator" th:action="@{/master/school/add}" th:object="${school}" role="form" method="post" enctype="multipart/form-data">
                                    <div class="row mt-3">
                                        <div class="col-8">
                                            <div class="form-group mb-2">
                                                <label for="schoolName">School Name<strong class="text-danger">*</strong></label>
                                                <input type="text" class="form-control" id="schoolName" th:field="*{schoolName}" data-minlength="3" data-error="Minimum 3 characters required !" placeholder="Enter school name" required />
                                                <div class="help-block with-errors text-danger"></div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group mb-2">
                                                <label for="board">Board<strong class="text-danger">*</strong></label>
                                                <select class="form-control" id="board" th:field="*{board}" data-error="Select a Board !" required>
                                                    <option value="" selected>select</option>
                                                    <option value="STATE BOARD" selected>STATE BOARD</option>
                                                    <option value="CBSE" selected>CBSE</option>
                                                    <option value="ICSE" selected>ICSE</option>
                                                    <option value="NIOS" selected>NIOS</option>
                                                </select>
                                                <div class="help-block with-errors text-danger"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <h5 class="text-center bg-warning py-1">Contact Details</h5>
                                    <div class="row mt-3">
                                        <div class="col-4">
                                            <div class="form-group mb-2">
                                                <label for="stage">Stage of School<strong class="text-danger">*</strong></label>
                                                <select class="form-control" id="stage" th:field="*{stage}" data-error="Select a Stage !" required>
                                                    <option value="" selected>select</option>
                                                    <option value="Nursery" selected>Nursery [LKG,UKG]</option>
                                                    <option value="Primary" selected>Primary [1-5]</option>
                                                    <option value="Secondary" selected>Secondary [6-10]</option>
                                                    <option value="Higher Secondary" selected>Higher Secondary [11-12/PUC]</option>
                                                </select>
                                                <div class="help-block with-errors text-danger"></div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group mb-2">
                                                <label for="email">Email<strong class="text-danger">*</strong></label>
                                                <input type="email" class="form-control" th:field="*{email}" id="email" data-error="Provide a valid email !" placeholder="Enter Email" required />
                                                <div class="help-block with-errors text-danger"></div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group mb-2">
                                                <label for="phone">Phone<strong class="text-danger">*</strong></label>
                                                <input
                                                    type="number"
                                                    class="form-control"
                                                    th:field="*{phone}"
                                                    id="phone"
                                                    maxlength="10"
                                                    oninput="this.value=this.value.slice(0,this.maxLength)"
                                                    data-error="Provide a phone no !"
                                                    placeholder="Enter Phone no"
                                                    required
                                                />
                                                <div class="help-block with-errors text-danger"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <h5 class="text-center bg-warning py-1">Address Details</h5>
                                    <div class="row mt-3">
                                        <div class="col-4">
                                            <div class="form-group mb-2">
                                                <label for="address">Address<strong class="text-danger">*</strong></label>
                                                <textarea type="text" class="form-control" rows="2" th:field="*{address}" id="address" data-error="Provide a address !" placeholder="Enter address" required></textarea>
                                                <div class="help-block with-errors text-danger"></div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group mb-2">
                                                <label for="state">State<strong class="text-danger">*</strong></label>
                                                <select class="form-control" id="bstates" th:field="*{state}" data-error="Select state !" required>
                                                    <option value="" selected>Select</option>
                                                    <option th:each="ob:${stateList}" th:value="${ob[1]}" th:text="${ob[1]}"></option>
                                                </select>
                                                <div class="help-block with-errors text-danger"></div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group mb-2">
                                                <label for="city">City<strong class="text-danger">*</strong></label>
                                                <select class="form-control" id="bcities" th:field="*{city}" data-error="Select city !" required>
                                                    <option value="" selected>Select</option>
                                                </select>
                                                <div class="help-block with-errors text-danger"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-4">
                                            <div class="form-group mb-2">
                                                <label for="pinCode">Pincode<strong class="text-danger">*</strong></label>
                                                <input type="text" class="form-control" th:field="*{pinCode}" id="pinCode" pattern="[0-9]{6}" maxlength="6" data-error="Provide a pincode !" placeholder="Enter pincode" required />
                                                <div class="help-block with-errors text-danger"></div>
                                            </div>
                                        </div>

                                        <div class="col-8">
                                            <div class="form-group mb-2">
                                                <label for="remarks">Remarks</label>
                                                <input type="text" class="form-control" id="remarks" th:field="*{remarks}" placeholder="Enter Remarks" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center mt-3">
                                        <button type="submit" class="btn btn-sm btn-primary mr-2">Submit</button>
                                        <button type="reset" class="btn btn-sm btn-secondary mr-2">Reset</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2 side-menu-size">
                    <div class="container p-0 mx-0">
                        <div class="bar opened dark">
                            <div class="icon" onclick="window.location='/master/brand'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/brand' ? 'active':''}">
                                <span class="text">Brand Master</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/category'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/category' ? 'active':''}">
                                <span class="text">Category Master</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/hsn'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/hsn' ? 'active':''}">
                                <span class="text">HSN Code</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/measures'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/measures' ? 'active':''}">
                                <span class="text">Unit of Measures</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/supplier'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/supplier' ? 'active':''}">
                                <span class="text">Supplier Master</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/brand/publisher'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/brand/publisher' ? 'active':''}">
                                <span class="text">Brand Publisher</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/item'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/item' ? 'active':''}">
                                <span class="text">Item Master</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/tax'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/tax' ? 'active':''}">
                                <span class="text">Tax Master</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/school'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/school' ? 'active':''}">
                                <span class="text">School Master</span>
                            </div>

                            <div class="icon" onclick="window.location='/master/catalogue'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/catalogue' ? 'active':''}">
                                <span class="text">Catalogue Master</span>
                            </div>

                            <div class="icon" onclick="window.location='/master/bundle'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/bundle' ? 'active':''}">
                                <span class="text">Bundle Master</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/cash-counter'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/cash-counter' ? 'active':''}">
                                <span class="text">Cash Counter</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>