<!DOCTYPE html>
<html lang="en" xmlns:th="http:https://www.thymeleaf.org/" th:replace="base::layout(~{::section})">
    <body>
        <section>
            <div class="row">
                <div class="col-10">
                    <div class="page-header">
                        <ul class="breadcrumb px-0">
                            <li><a th:href="@{/master/supplier}">Master</a></li>
                            <li><a href="#" class="text-white">&nbsp;Supplier Master</a></li>
                        </ul>
                        <nav aria-label="breadcrumb">
                            <a th:href="@{/master/supplier/list}" class="btn btn-success btn-sm btn-icon-text"> <i class="fa fa-list-alt pr-2" aria-hidden="true"></i>Supplier List</a>
                        </nav>
                    </div>
                    <div class="mt-4"></div>
                    <div class="alert alert-success text-center p-2 mx-auto font-weight-bold" role="alert" th:if="${param.supplierAdded}">
                        Supplier has been added successfully!
                    </div>
                    <div class="alert alert-success text-center p-2 mx-auto font-weight-bold" role="alert" th:if="${param.gstNoAlreadyExists}">
                        GSTIN already Exists!
                    </div>
                    <div class="alert alert-danger text-center p-2 mx-auto font-weight-bold" role="alert" th:if="${param.reciptAlreadyExists}">
                        Recipt No already Exists!
                    </div>

                    <div class="card">
                        <div class="card-body pt-2">
                            <h5 class="text-center mb-2">Supplier Master</h5>

                            <hr class="my-2 bg-secondary">
                            <form class="forms-sample" data-toggle="validator" th:action="@{/master/supplier/add}" th:object="${supplier}" role="form" method="post">
                                <div class="row mt-3">
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="supplierName">Supplier Name<strong class="text-danger">*</strong></label>
                                            <input type="text" class="form-control" id="supplierName" th:field="*{supplierName}" data-minlength="3" data-error="Minimum 3 characters required !" placeholder="Enter supplier name" required />
                                            <div class="help-block with-errors text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="reciptNo">Recipt No<strong class="text-danger">*</strong></label>
                                            <input
                                                type="text"
                                                class="form-control"
                                                id="reciptNo"
                                                th:field="*{reciptNo}"
                                                data-error="Recipt no is required !"
                                                oninput="this.value = this.value.toUpperCase()"
                                                placeholder="Enter recipt no"
                                                required
                                            />
                                            <div class="help-block with-errors text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="gstType">GST Type<strong class="text-danger">*</strong></label>
                                            <select class="form-control" id="gstType" th:field="*{gstType}" data-error="Select GST type !" required>
                                                <option value="" selected>select</option>
                                                <option value="Taxable">Taxable</option>
                                                <option value="Exempted">Exempted</option>
                                            </select>
                                            <div class="help-block with-errors text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="gstin">GSTIN<strong class="text-danger">*</strong></label>
                                            <input
                                                type="text"
                                                class="form-control"
                                                oninput="this.value = this.value.toUpperCase()"
                                                id="gstin"
                                                th:field="*{gstin}"
                                                data-minlength="15"
                                                maxlength="15"
                                                data-error="Provide a GSTIN/UIN !"
                                                placeholder="Enter GSTIN/UIN"
                                                required
                                            />
                                            <div class="help-block with-errors text-danger"></div>
                                        </div>
                                    </div>
                                </div>
                                <h5 class="text-center bg-warning py-1">Contact Details</h5>
                                <div class="row mt-3">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="address">Address<strong class="text-danger">*</strong></label>
                                            <textarea type="text" class="form-control" rows="2" th:field="*{address}" id="address" data-error="Provide a address !" placeholder="Enter address" required></textarea>
                                            <div class="help-block with-errors text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="state">State<strong class="text-danger">*</strong></label>
                                            <select class="form-control" id="bstates" th:field="*{state}" data-error="Select state !" required>
                                                <option value="" selected>Select</option>
                                                <option th:each="ob:${stateList}" th:value="${ob[1]}" th:text="${ob[1]}"></option>
                                            </select>
                                            <div class="help-block with-errors text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="city">City<strong class="text-danger">*</strong></label>
                                            <select class="form-control" id="bcities" th:field="*{city}" data-error="Select city !" required>
                                                <option value="" selected>Select</option>
                                            </select>
                                            <div class="help-block with-errors text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group">
                                            <label for="pinCode">Pincode<strong class="text-danger">*</strong></label>
                                            <input type="text" class="form-control" th:field="*{pinCode}" id="pinCode" pattern="[0-9]{6}" maxlength="6" data-error="Provide a pincode !" placeholder="Enter pincode" required />
                                            <div class="help-block with-errors text-danger"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="email">Email ID<strong class="text-danger">*</strong></label>
                                            <input type="email" class="form-control" th:field="*{email}" id="email" data-error="Provide a valid email !" placeholder="Enter Email" required />
                                            <div class="help-block with-errors text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="telephone">Telephone</label>
                                            <input
                                                type="text"
                                                class="form-control"
                                                th:field="*{telephone}"
                                                pattern="[7-9]{1}[0-9]{9}"
                                                maxlength="10"
                                                id="telephone"
                                                data-error="Provide a valid phone number !"
                                                placeholder="Enter telephone no"
                                            />
                                            <div class="help-block with-errors text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="mobile">Mobile No<strong class="text-danger">*</strong></label>
                                            <input
                                                type="text"
                                                pattern="[7-9]{1}[0-9]{9}"
                                                class="form-control"
                                                th:field="*{mobile}"
                                                id="mobile"
                                                maxlength="10"
                                                data-error="Provide a valid mobile number"
                                                placeholder="Enter mobile no"
                                                required
                                            />
                                            <div class="help-block with-errors text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group">
                                            <label for="fax">Fax</label>
                                            <input type="text" class="form-control" th:field="*{faxNo}" id="faxNo" placeholder="Enter fax no" />
                                        </div>
                                    </div>
                                </div>
                                <h5 class="text-center bg-warning py-1">Bank Details</h5>
                                <div class="row mt-3">
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="bankName">Bank Name<strong class="text-danger">*</strong></label>
                                            <select class="form-control" id="bankName" th:field="*{bankName}" data-error="Select Bank Name !" required>
                                                <option value="" selected>select</option>
                                                <option th:each="banks : ${bankList}" th:value="${banks.name}" th:utext="${banks.name}" />
                                            </select>
                                            <div class="help-block with-errors text-danger"></div>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="initAccountNumber">Account Number<strong class="text-danger">*</strong></label>
                                            <input type="number" class="form-control" id="initAccountNumber" data-minlength="8" data-error="Provide a account number !" required />
                                            <div class="help-block with-errors text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="accountNumber">Confirm Account Number<strong class="text-danger">*</strong></label>
                                            <input
                                                type="password"
                                                class="form-control"
                                                id="accountNumber"
                                                th:field="*{accountNumber}"
                                                data-minlength="8"
                                                data-match="#initAccountNumber"
                                                data-match-error="Whoops, these don't match"
                                                placeholder="Enter confirm account no"
                                                required
                                            />
                                            <div class="help-block with-errors text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="ifscCode">IFSC Code<strong class="text-danger">*</strong></label>
                                            <input
                                                type="text"
                                                class="form-control"
                                                id="ifscCode"
                                                th:field="*{ifscCode}"
                                                oninput="this.value = this.value.toUpperCase()"
                                                data-error="Provide IFSC Code !"
                                                placeholder="Enter ifsc code"
                                                required
                                            />
                                            <div class="help-block with-errors text-danger"></div>
                                        </div>
                                    </div>
                                </div>
                                <h5 class="text-center bg-warning py-1">Cost Details</h5>
                                <div class="row mt-4">
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="totalPurchasedAmount">Total Purchased Amount<strong class="text-danger">*</strong></label>
                                            <input
                                                type="number"
                                                class="form-control"
                                                th:field="*{totalPurchasedAmount}"
                                                oninput="this.value = this.value.toUpperCase()"
                                                id="totalPurchasedAmount"
                                                data-error="Provide Purchase amount !"
                                                placeholder="Enter Purchase amount"
                                                required
                                            />
                                            <div class="help-block with-errors text-danger"></div>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="paidAmount">Paid Amount<strong class="text-danger">*</strong></label>
                                            <input
                                                type="number"
                                                class="form-control"
                                                th:field="*{paidAmount}"
                                                oninput="this.value = this.value.toUpperCase()"
                                                id="paidAmount"
                                                data-error="Provide Paid amount !"
                                                placeholder="Enter Paid amount"
                                                required
                                            />
                                            <div class="help-block with-errors text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="balanceAmount">Balance Amount</label>
                                            <input type="hidden" th:field="*{balanceAmount}" id="balanceAmountCopy" />
                                            <input type="number" class="form-control" id="balanceAmount" data-error="Provide Purchase amount !" disabled />
                                            <div class="help-block with-errors text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="col-3"></div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-sm btn-primary mr-2">Submit</button>
                                    <button type="reset" class="btn btn-sm btn-danger">Reset</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-2 side-menu-size">
                    <div class="container p-0 mx-0">
                         <div class="bar opened dark">
                            <div class="icon" onclick="window.location='/master/brand'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/brand' ? 'active':''}">
                                <span class="text">Brand Master</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/category'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/category' ? 'active':''}">
                                <span class="text">Category Master</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/hsn'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/hsn' ? 'active':''}">
                                <span class="text">HSN Code</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/measures'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/measures' ? 'active':''}">
                                <span class="text">Unit of Measures</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/supplier'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/supplier' ? 'active':''}">
                                <span class="text">Supplier Master</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/brand/publisher'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/brand/publisher' ? 'active':''}">
                                <span class="text">Brand Publisher</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/item'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/item' ? 'active':''}">
                                <span class="text">Item Master</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/tax'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/tax' ? 'active':''}">
                                <span class="text">Tax Master</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/school'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/school' ? 'active':''}">
                                <span class="text">School Master</span>
                            </div>

                            <div class="icon" onclick="window.location='/master/catalogue'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/catalogue' ? 'active':''}">
                                <span class="text">Catalogue Master</span>
                            </div>

                            <div class="icon" onclick="window.location='/master/bundle'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/bundle' ? 'active':''}">
                                <span class="text">Bundle Master</span>
                            </div>
                            <div class="icon" onclick="window.location='/master/cash-counter'" th:classappend="${#httpServletRequest.getRequestURI() == '/master/cash-counter' ? 'active':''}">
                                <span class="text">Cash Counter</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>