<!DOCTYPE html>
<html lang="en" xmlns:th="http:https://www.thymeleaf.org/" th:replace="base::layout(~{::section})">

<body>
	<section>

		<div class="page-header">
			<h3 class="page-title ">
				Catelogue Master
			</h3>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Master Add</a></li>
					<li class="breadcrumb-item active" aria-current="page">Masters</li>
				</ol>
			</nav>
		</div>
		<div class="col-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title text-center">Catalogue Master</h4>
					
					 <!-- Message Alert Field -->               
		               <div th:if="${session.message}" class="alert_field">       
		                 <div class="alert text-center" th:classappend="${'alert-'+session.message.type}"  role="alert">
                            <span th:text="${session.message.content}"></span>
                         </div>
                           <th:block th:text="${#session.removeAttribute('message')}"></th:block>
		              </div>  		                
                      <!-- End of Message Alert Field -->
                      
					<hr class="pb-3">
					<form class="forms-sample"  th:action="@{/master/saveCatalogueData}" data-toggle="validator" role="form" th:object="${catalogue}" method="post">


						<div class="row">
						<div class="col-md-12">
								<div class="form-group row">
									<label class="col-sm-0 col-form-label">Supplier Name</label><strong class="text-danger ">*</strong>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="supplierName" name="supplierName"
											placeholder="Enter Supplier Name" data-minlength="2" data-error="Min 2 digits required !" required>
									   <div class="help-block with-errors text-danger"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Category</label>
									<div class="col-sm-9">
										<select class="form-control" id="exampleSelectGender" name="categoryName">
											<option>Category 1</option>
											<option>Category 2</option>
											<option>Category 3</option>
											<option>Category 4</option>
											<option>Category 5</option>
											<option>Category 6</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">HSN Code</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="itemSubtitle" name="hsnCode"
											placeholder="HSN Code">
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group row">
									<label class="col-sm-5 col-form-label">Item Description</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="itemTitle" name="itemDesc"
											placeholder="Item Description">
									</div>
								</div>
							</div>
						</div>

						<div class="row">

							<div class="col-md-4">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Unit</label>
									<div class="col-sm-9">
										<select class="form-control" id="exampleSelectGender" name="units">
											<option>kg/gm</option>
											<option>ltr</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Basic Price</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="itemTitle" name="basicPrice"
											placeholder="Basic Price">
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">GST Type</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="itemSubtitle" name="gstType"
											placeholder="GST Type">
									</div>
								</div>
							</div>
						</div>



						<div class="row">
							<div class="col-md-4">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">MRP Price</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" name="mrpPrice" id="itemTitle" placeholder="MRP Price">
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">GST</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" name="gst" id="itemSubtitle" placeholder="GST">
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group row">
									<label class="col-sm-6 col-form-label">Purchase Price / Cost</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="itemTitle" name="purchasePrice"
											placeholder="Purchase Price / Cost">
									</div>
								</div>
							</div>
						</div>

						<div class="row">

							<div class="col-md-4">
								<div class="form-group row">
									<label class="col-sm-6 col-form-label">IGST(Outer State Tax)</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" name="iGST" id="itemSubtitle" placeholder="IGST">
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group row">
									<label class="col-sm-6 col-form-label">CGST(Inter State Tax)</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" name="cGST" id="itemSubtitle" placeholder="CGST">
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group row">
									<label class="col-sm-6 col-form-label">SGST(State Tax)</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" name="sGST" id="itemSubtitle" placeholder="SGST">
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Purchase Date</label>
									<div class="col-sm-9">
										<input type="Date" class="form-control" name="purchaseDate" id="itemTitle"
											placeholder="Purchase Date">
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group row">
									<label class="col-sm-6 col-form-label">Maximum Discount</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" name="discountMax" id="itemTitle"
											placeholder="Maximum Discount">
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Selling Price</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" name="sellingPrice" id="itemTitle"
											placeholder="Selling Price">
									</div>
								</div>
							</div>
						</div>



						<div class="row">

							<div class="col-md-4">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Attidue-1</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" name="attidue1" id="itemSubtitle"
											placeholder="Attidue-1">
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Attidue-2</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" name="attidue2" id="itemSubtitle"
											placeholder="Attidue-2">
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Attidue-3</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" name="attidue3" id="itemSubtitle"
											placeholder="Attidue-3">
									</div>
								</div>
							</div>

						</div>

						<div class="row">

							<div class="col-md-4">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Attidue-4</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" name="attidue4" id="itemSubtitle"
											placeholder="Attidue-4">
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Attidue-5</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" name="attidue5" id="itemSubtitle"
											placeholder="Attidue-5">
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Attidue-6</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" name="attidue6" id="itemSubtitle"
											placeholder="Attidue-6">
									</div>
								</div>
							</div>


						</div>

						<div class="row">

							<div class="col-md-4">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Attidue-7</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" name="attidue7" id="itemSubtitle"
											placeholder="Attidue-7">
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Attidue-8</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" name="attidue8" id="itemSubtitle"
											placeholder="Attidue-8">
									</div>
								</div>
							</div>

						</div>

						<div class="row">
							<div class="col-3">
                              <div class="form-group text-center">
                                                <label for="uploadImage" class="font-weight-bold">Upload Image<strong class="text-danger ">*</strong></label>
                                                <input type="file" name="uploadImage" id="uploadImage" accept="image/*" data-height="80" data-max-file-size="300K" 
                                                   data-max-width="250" data-max-height="150" class="dropify" data-error="Logo required !">
                                                <small class="text-info">[File: 300KB 250x150]</small>
                                                <div class="help-block with-errors text-danger"></div>
                                             </div>
                        </div>
							<div class="col-md-4">
								<div class="form-group row">
									<label class="col-sm-6 col-form-label">Barcode Category No</label>
									<div class="input-group">
										<input id="scanner_input" class="form-control" name="barcodeCategoryNo"
											placeholder="Click the button to scan Barcode..." type="text" />
										<span class="input-group-btn">
											<button class="btn btn-default" type="button" data-toggle="modal"
												data-target="#livestream_scanner">
												<i class="fa fa-barcode"></i>
											</button>
										</span>
									</div><!-- /input-group -->
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group row">
									<label class="col-sm-6 col-form-label">Barcode Item No</label>
									<div class="input-group">
										<input id="scanner_input" class="form-control" name="barcodeItemno"
											placeholder="Click the button to scan Barcode..." type="text" />
										<span class="input-group-btn">
											<button class="btn btn-default" type="button" data-toggle="modal"
												data-target="#livestream_scanner">
												<i class="fa fa-barcode"></i>
											</button>
										</span>
									</div><!-- /input-group -->
								</div>
							</div>
						</div>

						<hr class="pb-3">

						<div class="row">
							<div class="col-md-6">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Revised Rate-1</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" name="revisedRate1" id="itemTitle"
											placeholder="Revised Rate-1">
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Rate Revise Date-1</label>
									<div class="col-sm-9">
										<input type="date" class="form-control" name="rateRevisedDate1" id="itemTitle"
											placeholder="Rate Revise Date-1">
									</div>
								</div>
							</div>
						</div>

						<hr class="pb-3">

						<div class="row">
							<div class="col-md-6">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Revised Rate-2</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" name="revisedRate2" id="itemTitle"
											placeholder="Revised Rate-2">
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Rate Revise Date-2</label>
									<div class="col-sm-9">
										<input type="date" class="form-control" name="rateRevisedDate2" id="itemTitle"
											placeholder="Rate Revise Date-2">
									</div>
								</div>
							</div>
						</div>

						<hr class="pb-3">

						<div class="row ">
							<div class="col-md-6">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Revised Rate-3</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" name="revisedRate3" id="itemTitle"
											placeholder="Revised Rate-3">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Rate Revise Date-3</label>
									<div class="col-sm-9">
										<input type="date" class="form-control" name="rateRevisedDate3" id="itemTitle"
											placeholder="Rate Revise Date-3">
									</div>
								</div>
							</div>
						</div>

						<div class="text-center">
							<button type="submit" th:href="@{/master/saveCatalogueData}" class="btn btn-primary mr-2">Submit</button>
							<a type="button" class="btn btn-success" th:href="@{/master/findCatalogeData}">View</a>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		<div class="col-12 grid-margin stretch-card mx-auto pt-2"  th:if="${show != null}">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title text-center">Catalogue Master History</h4>					
					 <table class="table">
					  <thead class="thead-dark">
					    <tr>
					      <th scope="col">ID</th>
					      <th scope="col">Supplier Name</th>
					      <th scope="col">Category</th>
					      <th scope="col">Basic Price</th>
					      <th scope="col">MRP Price</th>
					      <th scope="col">Purchase Price</th>
					      <th scope="col">Purchase Date</th>
					      <th scope="col">Selling Price</th>
					      <th scope="col">HSN Code</th>
					      <th scope="col">Units</th>
					      <th scope="col">Revised Rate</th>
					      <th scope="col">Revised Date</th>
					      <th scope="col">Item BarCode</th>
					      <th scope="col">Catagory BarCode</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr th:each="catalogue : ${listOfCatalogus}">
					      <td><a th:href="@{'/master/deleteCatalogue/'+${catalogue.catalogueId}}">CM-<span th:text="${catalogue.catalogueId}"></span></a></td>
					      <td th:text="${catalogue.supplierName}"></td>
					      <td th:text="${catalogue.categoryName}"></td>
					      <td th:text="${catalogue.basicPrice}"></td>
					      <td th:text="${catalogue.mrpPrice}"></td>
					      <td th:text="${catalogue.purchasePrice}"></td>
					      <td th:text="${catalogue.purchaseDate}"></td>
					      <td th:text="${catalogue.sellingPrice}"></td>
					      <td th:text="${catalogue.hsnCode}"></td>
					      <td th:text="${catalogue.units}"></td>
					      <td th:text="${catalogue.revisedRate1}"></td>
					      <td th:text="${catalogue.rateRevisedDate1}"></td>
					      <td th:text="${catalogue.barcodeItemno}"></td>
					      <td th:text="${catalogue.barcodeCategoryNo}"></td>					     		     
					    </tr>					    
					  </tbody>
					</table>						
				</div>
			</div>
	   </div>
		
	</section>
</body>

</html>