<!DOCTYPE html>
<html lang="en" xmlns:th="http:https://www.thymeleaf.org/" th:replace="base::layout(~{::section})">
   <body>
      <section>
         <div class="page-header">
            <div class="pl-2">
               <button type="button" class="btn btn-dark btn-rounded btn-icon" onclick="window.location.href='/user/management'">
               <i class="fa fa-arrow-left"></i>
               </button>
            </div>
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Change Password</a></li>
                  <li class="breadcrumb-item active" aria-current="page">User Management</li>
               </ol>
            </nav>
         </div>
         <div class="col-6 grid-margin stretch-card mx-auto pt-5">
            <div class="card">
               <div class="card-body">
                  <h4 class="card-title text-center">Change Password</h4>
                  <hr>
                  <form class="forms-sample px-5">
                     <div class="form-group">
                        <div class="text-center">
                           <label for="exampleInputCity1">Current Password</label>
                        </div>
                        <input type="password" class="form-control" id="exampleInputCity1" placeholder="Enter Current Password">
                     </div>
                     <div class="form-group">
                        <div class="text-center">
                           <label for="exampleInputCity1">New Password</label>
                        </div>
                        <input type="password" class="form-control" id="exampleInputCity1" placeholder="Enter New Password">
                     </div>
                     <div class="text-center">
                        <button type="submit" class="btn btn-sm btn-primary mr-2">Submit</button>
                        <button type="reset" class="btn btn-sm btn-secondary">Reset</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </section>
   </body>
</html>