<!DOCTYPE html>
<html lang="en" xmlns:th="http:https://www.thymeleaf.org/" th:replace="base::layout(~{::section})">
   <body>
      <section>
         <div class="page-header">
            <h3 class="page-title">
               Excel Import / Export
            </h3>
            <nav aria-label="breadcrumb">
               <a th:href="@{/master/excel/employee-log}" class="btn btn-primary btn-icon-text">
               <i class="fa fa-users"></i>
               Employee Log
               </a> 
            </nav>
         </div>
         <div class="row">
            <div class="col-6 grid-margin stretch-card mx-auto pt-5">
               <div class="card">
                  <div class="card-body">
                     <h4 class="card-title text-center">Excel Export</h4>
                     <hr>
                     <form class="forms-sample">
                        <div class="row">
                           <div class="col">
                              <div class="form-group">
                                 <div class="text-center">
                                    <label for="exampleInputCity1">From Date</label>
                                 </div>
                                 <input type="date" class="form-control" id="exampleInputCity1" placeholder="Enter Current Password">
                              </div>
                           </div>
                           <div class="col">
                              <div class="form-group">
                                 <div class="text-center">
                                    <label for="exampleInputCity1">To Date</label>
                                 </div>
                                 <input type="date" class="form-control" id="exampleInputCity1" placeholder="Enter New Password">
                              </div>
                           </div>
                        </div>
                        <div class="text-center">
                           <button type="submit" class="btn btn-sm btn-primary mr-2">Export</button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
            <div class="col-6 grid-margin stretch-card mx-auto pt-5">
               <div class="card">
                  <div class="card-body">
                     <h4 class="card-title text-center">Excel Import</h4>
                     <hr>
                     <form class="forms-sample px-5">
                        <div class="form-group">
                           <div class="text-center">
                              <label for="exampleInputCity1">Select Your Local Excel</label>
                           </div>
                           <input type="file" class="form-control" id="exampleInputCity1" placeholder="Enter Current Password">
                        </div>
                        <div class="text-center">
                           <button type="submit" class="btn btn-sm btn-primary mr-2">Import</button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </body>
</html>