<!DOCTYPE html>
<html lang="en" xmlns:th="http:https://www.thymeleaf.org/" th:replace="base::layout(~{::section})">
   <body>
      <section>
         <div class="page-header">
            <h3 class="page-title">
               Order Tracking
            </h3>
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Order Tracking</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Order Details</li>
               </ol>
            </nav>
         </div>
         <div class="card">
            <div class="card-body">
               <div class="row">
                  <div class="col-12">
                     <div class="table-responsive">
                        <table id="order-listing" class="table">
                           <thead>
                              <tr>
                                 <th>Order #</th>
                                 <th>Order Date</th>
                                 <th>Customer Name</th>
                                 <th>Ship to</th>
                                 <th>Quantity</th>
                                 <th>Total Price</th>
                                 <th>Actions</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <td>1</td>
                                 <td>2012/08/03</td>
                                 <td>Edinburgh</td>
                                 <td>New York</td>
                                 <td>$1500</td>
                                 <td>$3200</td>
                                 <td>
                                    <a type="button" th:href="@{/master/view-tracking}" class="btn btn-danger btn-sm p-1">View Traking</a>
                                 </td>
                              </tr>
                              <tr>
                                 <td>2</td>
                                 <td>2015/04/01</td>
                                 <td>Doe</td>
                                 <td>Brazil</td>
                                 <td>$4500</td>
                                 <td>$7500</td>
                                 <td>
                                    <a type="button" th:href="@{/master/view-tracking}" class="btn btn-danger btn-sm p-1">View Traking</a>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </body>
</html>