<!DOCTYPE html>
<html lang="en" xmlns:th="http:https://www.thymeleaf.org/" th:replace="base::layout(~{::section})">
   <body>
      <section>
         <div class="page-header">
            <h3 class="page-title">
               User Creation
            </h3>
            <nav aria-label="breadcrumb">
               <a th:href="@{/master/user/management}" class="btn btn-primary btn-icon-text">
               <i class="fa fa-users"></i>
               User Management
               </a>
            </nav>
         </div>
         <div class="row border border-dark bg-dark text-white">
            <div class="col-4">
               <div class="form-group mb-0 mt-2">
                  <label for="exampleInputCity1" class="pt-2 pr-3 font-weight-bold">Company Name</label>
                  <label class="badge badge-warning">[[${companyName}]]</label>
               </div>
            </div>
            <div class="col-6">
            </div>
            <div class="col-2">
               <div class="form-group mb-0 mt-2">
                  <label for="exampleInputCity1" class="pt-2 pr-3 font-weight-bold">Company ID</label>
                  <label class="badge badge-danger">[[${companyId}]]</label>
               </div>
            </div>
         </div>
         <div class="col-8 grid-margin stretch-card mx-auto pt-2">
            <div class="card">
               <div class="card-body">
                  <h4 class="card-title text-center">User Registration</h4>
                  <div class="alert alert-success text-center" role="alert" th:if="${param.success}">
                     User has been successfully created!
                  </div>
                  <div class="alert alert-danger text-center" role="alert" th:if="${param.selectBranch}">[[${slctBranch}]]</div>
                  <div class="alert alert-danger text-center" role="alert" th:if="${param.employeeExists}">[[${empExists}]]</div>
                  <div class="alert alert-danger text-center" role="alert" th:if="${param.emailExists}"><strong>[[${emailExists}]]</strong></div>
                  <div class="alert alert-danger text-center" role="alert" th:if="${param.mobileExists}"><strong>[[${mobileExists}]]</strong></div>
                  <div class="alert alert-danger text-center" role="alert" th:if="${param.usernameExists}"><strong>[[${usernameExists}]]</strong></div>
                  <hr class="mt-0">
                  <form class="forms-sample" data-toggle="validator" th:action="@{/master/user}" role="form" th:object="${user}" method="post">
                     <div class="row">
                        <div class="col-4">
                           <div class="form-group">
                              <label for="branch">Select Branch<strong class="text-danger ">*</strong></label>
                              <select class="form-control" th:field="*{branch}" id="branch" data-error="Select Branch Name !" required>
                                 <option value="" selected>select</option>
                                 <option th:each="branchs : ${branches}" th:value="${branchs.branchId}" th:utext="${branchs.branchName}"/>
                              </select>
                              <div class="help-block with-errors text-danger"></div>
                           </div>
                        </div>
                        <div class="col-4">
                        </div>
                        <div class="col-4">
                           <div class="form-group">
                              <label for="role">User Role<strong class="text-danger ">*</strong></label>
                              <select class="form-control" th:field="*{role}" id="branch" data-error="Select User role !" required>
                                 <option value="" selected>select</option>
                                 <option value="ROLE_USER" selected>NORMAL USER</option>
                                 <option th:if="${enable != null}" value="ROLE_BRANCH" selected>BRANCH USER</option>
                              </select>
                              <div class="help-block with-errors text-danger"></div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-4">
                           <div class="form-group">
                              <label for="firstName">Name<strong class="text-danger ">*</strong></label>
                              <input type="text" class="form-control" th:field="*{firstName}" id="firstName" data-minlength="5" data-error="Minimum 5 characters required !" placeholder="Enter Name" required>
                              <div class="help-block with-errors text-danger"></div>
                           </div>
                        </div>
                        <div class="col-4">
                           <div class="form-group">
                              <label for="email">Email<strong class="text-danger ">*</strong></label>
                              <input type="email" class="form-control" th:field="*{email}" id="email" data-error="Provide a valid email !" placeholder="Enter Email ID" required>
                              <div class="help-block with-errors text-danger"></div>
                           </div>
                        </div>
                        <div class="col-4">
                           <div class="form-group">
                              <label for="mobile">Mobile No<strong class="text-danger ">*</strong></label>
                              <input type="text" pattern="[7-9]{1}[0-9]{9}" class="form-control" th:field="*{mobile}" id="mobile" maxlength="10" data-error="Provide a valid mobile number" placeholder="Enter mobile no" required>
                              <div class="help-block with-errors text-danger"></div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-4">
                           <div class="form-group">
                              <label for="username">Username<strong class="text-danger ">*</strong></label>
                              <input type="text" class="form-control" th:field="*{username}" id="username" data-minlength="5" data-error="Minimum 5 characters required !" placeholder="Enter Username" required>
                              <div class="help-block with-errors text-danger"></div>
                           </div>
                        </div>
                        <div class="col-4">
                           <div class="form-group">
                              <label for="inputPassword">Password<strong class="text-danger ">*</strong></label>
                              <input type="password" data-minlength="6" class="form-control" id="inputPassword" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" 
                                 data-error="Password must be alphanumeric !" placeholder="Password" required>
                              <small class="text-info">
                              Minimum 6 characters required
                              </small>
                              <div class="help-block with-errors text-danger"></div>
                           </div>
                        </div>
                        <div class="col-4">
                           <div class="form-group">
                              <label for="password">Confirm Password<strong class="text-danger ">*</strong></label>
                              <input type="password" class="form-control" th:field="*{password}" id="password" data-match="#inputPassword" data-match-error="Whoops, these don't match" placeholder="Confirm Password" data-error="Provide confirm password !" required>
                              <div class="help-block with-errors text-danger"></div>
                           </div>
                        </div>
                     </div>
                     <div class="text-center">
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </section>
   </body>
</html>